@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0% 5%;
  height: 10vh;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.buttonContainer {
  display: none;
  z-index: 2;
}

.buttonContainer i {
  font-size: 2rem;
}

#closeBtn {
  display: none;
  color: black;
}

header a {
  color: white;
  text-decoration: none;
  margin: 15px;
  position: relative;
  padding: 1px;
}

header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header a:hover:after {
  width: 100%;
  left: 0;
}

#homepage{
    height: 100vh;
    width: 100%;
    padding: 5vh 10%;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(30, 20, 10, 0.7), rgba(30, 20, 10, 0.4)), url('mainBG.jpg') center no-repeat; 
    color: white;
}

#homepage div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#homepage div h1{
    font-size: 3rem;
}
#homepage div p{
    font-size: 1.2rem;
}

#homepage div a{
    border: 2px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    width: 25%;
    text-align: center;
    transition: 0.5s all ease;
}

#homepage div a:hover{
    background-color: white;
    color: black;
}

#aboutpage{
    min-height: 60vh;
    width: 100%;
    padding: 8vh 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aboutpage div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

#aboutpage h1{
    font-size: 2rem;
}

#aboutpage p{
    text-align: center;
    font-size: 1rem;
}

#aboutpage img{
    width: 25%;
}

#aboutpage a{
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 10px 20px; 
    width: 25%;
    text-align: center;
    transition: 0.5s all ease;
    font-size: 1rem;
}

#aboutpage a:hover {
    color: white;
    background-color: black;
}

#menupage{
    min-height: 70vh;
    width: 100%;
}

#menupage img{
    width: 100%;
    height: 70vh;
    padding: 8vh 0%;
    background-color: #ECE6D3;
}

#foodpage{
    text-align: center;
    font-size: 2rem;
    padding: 5vh 10%;
}

.foodpage-gallerycontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.foodpage-gallerycontainer img{
    width: 24%;
    height: 300px;
}

#contactpage{
  padding: 8vh 10%;
  width: 100%;
  background-color: whitesmoke;
}

#contactpage h1{
  text-align: center;
  font-size: 2rem;
}

.contactpage-container{
  display: flex;
  gap: 20px;
  padding: 30px;;
}

.contactpage1{
  width: 70%;
}

.contactpage1 iframe{
  width: 100%;
  border-radius: 20px;
}

.contactpage2{
  width: 30%;
  background-color: #ECE6D3;
  border-radius: 20px;
  padding: 20px;
}

.contactpage2 p{
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fcfbf7;
    transition: all 0.2s ease-in;
    z-index: 1;
    font-size: 2rem;
    z-index: 1;
  }
  .buttonContainer {
    display: block;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
  }
  .navLinks a {
    color: black;
  }
  #homepage div{
    width: 100%;
  }
  #homepage div a{
    width: 50%;
  }
  #aboutpage div{
    width: 100%;
    text-align: justify;
  }
  #aboutpage div a{
    width: 50%;
  }
  #aboutpage div img{
    width: 50%;
  }
  .foodpage-gallerycontainer img{
    width: 100%;
  }
  .contactpage-container{
    flex-direction: column-reverse;
  }
  .contactpage1{
    width: 100%;
  }
  .contactpage2{
    width: 100%;
  }
}
